
.heading{
  color: black;
  font-family: sans-serif;
  
}

.wrapt{
  display: flex;
  position: relative;
}

.sidebardd{
  width: 300px;
  height: 400vh;
  text-align: center;
  background-color: rgb(237, 170, 186);
  border-radius: 5px;
}

.sidebarTitile {
  padding: 10px;
  font-size: 26px;
}

.tablee{
  margin-left: 300px;
  width: 1200px;
  height: 700px;
  margin-bottom: 200px;
}

.admintitle{
  padding-top: 40px;
  padding-bottom: 20px;

}

.adminbtn{
  float: right;
  margin-right: 30px;
  margin-bottom: 20px;
}

.ordertexts{
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
}

.link{
  text-decoration: none;
  color: black;
}

.link:hover{
     color: aliceblue;
}

@media only screen and (max-width: 1280px) {
  .sidebardd{
    width: 200px;
    height: 100vh;
  }

  .sidebarTitile {
    padding: 10px;
    font-size: 18px;
  }
}


